version: "3.9"

services:

    timescaledb:
        image: timescale/timescaledb:latest-pg12
        user: postgres
        environment:
            - POSTGRES_PASSWORD=ShouldB3Secre1Ss0d0Something
            - POSTGRES_DB=UREGA
            - TIMESCALEDB_TELEMETRY=off
            - PGDATA=/var/lib/postgresql/data/pgdata
            # - TS_TUNE_NUM_CPUS=4
            # - TS_TUNE_MEMORY=4GB
            # - TS_TUNE_MAX_CONNS=200
        ports:
            - "5432:5432"
        volumes:
            - ./initdb/01-rtcm_packages.sql:/docker-entrypoint-initdb.d/01-rtcm_packages.sql
#            - ./initdb/10-gnss_observations.sql:/docker-entrypoint-initdb.d/02-gnss_observations.sql
            - ./initdb/11-gps_observations.sql:/docker-entrypoint-initdb.d/11-gps_observations.sql
            - ./initdb/12-glonass_observations.sql:/docker-entrypoint-initdb.d/12-glonass_observations.sql
            - ./initdb/13-galileo_observations.sql:/docker-entrypoint-initdb.d/13-galileo_observations.sql
            - ./initdb/14-beidou_observations.sql:/docker-entrypoint-initdb.d/14-beidou_observations.sql
            - ./initdb/15-qzss_observations.sql:/docker-entrypoint-initdb.d/15-qzss_observations.sql
            - ./initdb/16-sbas_observations.sql:/docker-entrypoint-initdb.d/16-sbas_observations.sql
#            - /local/persistentdb:/var/lib/postgresql/data
        logging:
            driver: "local"
            options:
                max-file: "10"
                max-size: "10m"
        restart: unless-stopped

    grafana:
        image: grafana/grafana
            # environment:
            #     - GF_INSTALL_PLUGINS=
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=Ev3nM0reSecretYouKn0w
            - GF_USERS_ALLOW_SIGN_UP=false
        depends_on:
            - timescaledb
        ports:
            - "3000:3000"
        volumes:
            - ./initgrafana:/etc/grafana/provisioning
            - ./localstorage:/var/lib/grafana
#            - /local/grafana:/var/lib/grafana
        logging:
            driver: "local"
            options:
                max-file: "10"
                max-size: "10m"
        restart: unless-stopped

    ingest:
        build:
            context: .
            dockerfile: Dockerfile-ingest
        depends_on:
            - timescaledb
        logging:
            driver: "local"
            options:
                max-file: "10"
                max-size: "10m"
        restart: unless-stopped
